{% extends 'base.html.twig' %}

{% block title %}Trombinoscope{% endblock %}

{% block body %}
{% for user in users %}

<div class="card" style="width: 18rem;">
	<img src="..." class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
        {% for contractType in user.contractType %}
        <p>{{contractType.name}}</p>
        {% endfor %}
	</div>
</div>


{% endfor %}
{% endblock %}
